.idea
bin
obj
*DotSettings.user
/SoftwareEngineerInterview/CSharp/Zip.InstallmentsService/.vs/Zip.InstallmentsService/FileContentIndex
/SoftwareEngineerInterview/CSharp/Zip.InstallmentsService/.vs/ProjectEvaluation
